@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@using DearCoder.Services
@using DearCoder.ViewModels

@model IndexPostViewModel
@inject IFileService _fileService

@{
    ViewData["Title"] = "Landing Page";
}
<!--Copy body of template landing page here-->
<!-- main content-->
<div class="container-fluid">
    <div class="row">
        <div class="col-8">
            <div class="card shadow">
                <h2 class="card-header">Latest Post</h2>
                <div class="card-body">
                    <a asp-controller="Posts" asp-action="Details" asp-route-slug="@Model.LatestPost.Slug" class="card-title h4 Oz">@Model.LatestPost.Title</a>
                    <p class="card-text">@Model.LatestPost.Abstract</p>
                    <div class="card-img mb-1">
                        <img src="@_fileService.DecodeImage(Model.LatestPost.ImageData, Model.LatestPost.ContentType)" class="img-fluid rounded" />
                    </div>
                    <a asp-controller="Posts" asp-action="Details" asp-route-slug="@Model.LatestPost.Slug" class="btn btn-primary rounded mt-3">Read Post</a>
                </div>
            </div>
        </div>
        <!-- Side widgets-->
        <div class="col-lg-4">
            <!-- Search widget-->
            <div class="card mb-4">
                <div class="card-header Oz">Search</div>
                <div class="card-body">
                    <form asp-action="SearchIndex" asp-controller="Posts">
                        <div class="input-group">
                            <input class="form-control" type="text" name="searchString" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                            <button class="btn-sm btn-primary btn-block Oz" id="button-search" type="submit">Search</button>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Author widget-->
            <div class="card mb-4">
                <div class="card-header Oz">About Kasey</div>
                <div class="card-body">
                    I love to make cool things with great people.
                    <br />
                    <br />
                    Let's grab a coffee and chat! (in person or on Zoom).
                    <br />
                    <br />
                    Connect with me on <a href="https://github.com/Piaomu" target="_blank"><span class="text-info">Github,</span> </a> <a href="https://www.linkedin.com/in/kasey-wahl-24073084/" target="_blank"><span class="text-info">LinkedIn</span></a>, <a href="https://twitter.com/KaseyWahl8" target="_blank"><span class="text-info">Twitter</span></a>, or my personal website, <a href="https://kaseywahl.io/" target="_blank"> <span class="text-info">kaseywahl.io</span></a>.
                </div>
            </div>
        </div>
    </div>
    <br />
    <div class="h1 font-weight-bold Oz text-center m-4">
        Blog Categories
     </div>
        <div class="row">
            <div class="col-lg-12 col-md-10">
                <div class="row">
                    @foreach (var blog in Model.Blogs.OrderByDescending(c => c.Created))
                    {
                        <div class="col-lg-6 mx-auto mb-3">
                            <div class="card mb-3 h-100 shadow">
                                <div class="card-body text-center">
                                    <div>
                                        <h2 class="post-title Oz">@blog.Name</h2>
                                        <hr />
                                        <h5 class="font-weight-light Oz">@blog.Description</h5>
                                    </div>
                                    <div class="card-footer">
                                        <img id="BlogImage" class="card-img" src="@_fileService.DecodeImage(blog.Image, blog.ContentType)" />
                                    </div>
                                </div>
                                <a class="btn btn-dark btn-block Oz" asp-controller="Posts" asp-action="BlogPostIndex" asp-route-id="@blog.Id">Read Posts</a>
                            </div>
                        </div>
                    }
                </div>
                <hr />
            </div>
        </div>
    <hr />

    <!-- Page List pager-->
    @if (Model.Blogs.PageCount > 1)
    {
        <div class="row">
            <div class="col h4 Oz">
                Page @(Model.Blogs.PageCount < Model.Blogs.PageNumber ? 0 : Model.Blogs.PageNumber) of @Model.Blogs.PageCount
            </div>
        </div>

        <div class="row">
            <div class="col Oz">
                @Html.PagedListPager(Model.Blogs, page => Url.Action("Index", new { page = page }),
                     new PagedListRenderOptions
                     {
                         LiElementClasses = new string[] { "page-item" },
                         PageClasses = new String[] { "page-link" }
                     })
            </div>
        </div>
    }
    </div>
