@using DearCoder.Services
@model IEnumerable<Blog>
@inject IFileService _fileService

@{ 
    ViewData["Title"] = "Landing Page";
}
<!--Copy body of template landing page here-->
<!-- main content-->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
            @foreach (var blog in Model.OrderByDescending(c => c.Created))
            {
                <div class="post-preview row">
                    <div class="col">
                        <a href="post.html">
                            <h2 class="post-title">@blog.Name</h2>
                            <h3 class="post-subtitle">@blog.Description</h3>
                        </a>
                        <p class="post-meta">
                            posted by
                            <a href="#!">Kasey Wahl</a>
                            on @blog.Created.ToString("MMM, dd, yyyy")
                        </p>
                        <div class="col">
                            <a class="btn btn-dark btn-sm btn-block" asp-controller="Posts" asp-action="BlogPostIndex" asp-route-id="@blog.Id">Read Posts</a>
                        </div>
                    </div>
                    <div class="col">
                        <img id="BlogImage" class="img-fluid" src=" @_fileService.DecodeImage(blog.Image, blog.ContentType)" />
                    </div>
                </div>
                <hr />
            }


            <hr />
            <!-- pager-->
            <div class="clearfix"><a class="btn btn-primary float-right" href="#!">older posts →</a></div>
        </div>
    </div>
</div>
<hr />
