@using X.PagedList
@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@using DearCoder.Services

@model IPagedList<Blog>
@inject IFileService _fileService

@{
    ViewData["Title"] = "Landing Page";
}
<!--Copy body of template landing page here-->
<!-- main content-->
<div class="container">
    <div class="h1 font-weight-bold Oz">
        Blog Categories
    </div>
    <hr />
    <div class="row">
        <div class="col-lg-8 col-md-10">
            @foreach (var blog in Model.OrderByDescending(c => c.Created))
            {
                <div class="post-preview row">
                    <div class="col">
                        <a asp-controller="Posts" asp-action="BlogPostIndex" asp-route-id="@blog.Id">
                            <h1 class="post-title Oz">@blog.Name</h1>
                            <h4 class="font-weight-light Oz">@blog.Description</h4>
                        </a>
                        <p class="post-meta Enriqueta font-weight-light">
                            posted by
                            <a class="Enriqueta" href="https://kaseywahl.io/about.html" target="_blank">Kasey Wahl</a>
                            on @blog.Created.ToString("MMM, dd, yyyy")
                        </p>
                        <div class="col">
                            <a class="btn btn-dark btn-sm btn-block Oz" asp-controller="Posts" asp-action="BlogPostIndex" asp-route-id="@blog.Id">Read Posts</a>
                        </div>
                    </div>
                    <div class="col">
                        <img id="BlogImage" class="img-fluid" style="width:18rem; height:14rem;" src=" @_fileService.DecodeImage(blog.Image, blog.ContentType)" />
                    </div>
                </div>
                <hr />
            }
            <hr />
        </div>

        <!-- Side widgets-->
        <div class="col-lg-4">
            <!-- Search widget-->
            <div class="card mb-4">
                <div class="card-header Oz">Search</div>
                <div class="card-body">
                    <form asp-action="SearchIndex" asp-controller="Posts">
                        <div class="input-group">
                            <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                            <button class="btn-sm btn-primary btn-block Oz" id="button-search" type="submit">Search</button>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Author widget-->
            <div class="card mb-4">
                <div class="card-header">About Kasey</div>
                <div class="card-body">
                    I love to make cool things with great people.
                    <br />
                    <br />
                    Let's grab a coffee and chat! (In person or Zoom).
                    <br />
                    <br />
                    Connect with me on <a href="https://github.com/Piaomu" target="_blank"><span class="text-info">Github,</span> </a> <a href="https://www.linkedin.com/in/kasey-wahl-24073084/" target="_blank"><span class="text-info">LinkedIn</span></a>, <a href="https://twitter.com/KaseyWahl8" target="_blank"><span class="text-info">Twitter</span></a>, or my personal website, <a href="https://kaseywahl.io/" target="_blank"> <span class="text-info">kaseywahl.io</span></a>.
                </div>
            </div>
        </div>
    </div>
</div>
<hr />


<!-- Page List pager-->
<div class="row">
    <div class="col h4 Oz">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    </div>
</div>

<div class="row">
    <div class="col Oz">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }),
            new PagedListRenderOptions
            {
                LiElementClasses = new string[] { "page-item" },
                PageClasses = new String[] { "page-link" }
            })
    </div>
</div>