@using DearCoder.Services
@model DearCoder.ViewModels.PostDetailsViewModel
@inject IFileService _fileService 

@{
    ViewData["Title"] = "Details";
}


<!-- Page content-->
<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <!-- Post content-->
            <article>
                <!-- Post header-->
                <header class="mb-4">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1">@Html.Raw(Model.Post.Title)</h1>
                    <h4 class="fw-bolder mt-3">@Html.Raw(Model.Post.Abstract)</h4>
                    <!-- Post meta content-->
                    <div class="text-muted fst-italic mb-2">
                        Posted on @Html.DisplayFor(model => model.Post.Created) by <a href="https://kaseywahl.io/about.html">Kasey Wahl</a>
                        <!--Admin Options-->
                        @if (User.IsInRole("Administrator"))
                        {
                            <a class="badge bg-info text-decoration-none link-light" asp-action="Edit" asp-route-id="@Model.Post.Id">Edit</a>
                            <a class="badge bg-info text-decoration-none link-light" asp-action="Create" asp-route-id="@Model.Post.Id">Create New</a>
                            <a class="badge bg-info text-decoration-none link-light" asp-controller="Posts" asp-action="BlogPostIndex" asp-route-id="@Model.Post.BlogId">See All</a>
                        }
                    </div>


                </header>
                <!-- Preview image figure-->
                <figure class="mb-4"><img class="img-fluid rounded" src=" @_fileService.DecodeImage(Model.Post.ImageData, Model.Post.ContentType)" alt="..." /></figure>
                <!-- Post content-->
                <section class="mb-5">
                    <div>@Html.Raw(Model.Post.Content)</div>
                </section>
            </article>
            <hr />

            @*Count of total comments*@
            <div class="btn-sm btn-dark btn-block">@Model.Post.Comments.Count Comment(s)</div>
            @foreach (var comment in Model.Post.Comments.OrderByDescending(c => c.Created))
            {
        <div class="d-flex mb-4">
            <!-- Parent comment-->
            <div class="flex-shrink-0 media p-3"><img class="rounded-circle img-fluid" style="width:60px;" src="@_fileService.DecodeImage(comment.Author.ImageData, comment.Author.ContentType)" alt="@comment.Author.FullName" /></div>
            <div class="ms-3">
                <div class="fw-bold">
                    <h4>@comment.Author.FullName</h4> <small>posted on @comment.Created.ToString("MMM dd, yyyy")</small>
                </div>
                <div>
                    <p>@comment.Body</p>
                </div>
            </div>
            <hr />
        </div>
            }

            @if (!User.Identity.IsAuthenticated)
            {
                <a class="btn btn-dark btn-block btn-sm" asp-area="Identity" asp-page="/Account/Login" asp-route-returnUrl="@Url.Action("Details","Posts", new {id = Model.Post.Id})">Login to add a comment</a>
            }
            else
            {

                //Now that you're logged in, I want to present you with a form to add a new comment.
                <form asp-action="Create" asp-controller="Comments" method="post">
                    <input type="hidden" name="PostId" value="@Model.Post.Id" />
                    <textarea class="form-control" name="Body" rows="3" placeholder="Add a comment..."></textarea>
                    <button class="btn btn-dark btn-block btn-small" type="submit">Add Comment</button>

                </form>
            }
        </div>
        <!-- Side widgets-->
        <div class="col-lg-4">
            <!-- Search widget-->
            <div class="card mb-4">
                <div class="card-header">Search</div>
                <div class="card-body">
                    <div class="input-group">
                        <input class="form-control" type="text" placeholder="Enter search term..." aria-label="Enter search term..." aria-describedby="button-search" />
                        <button class="btn btn-primary" id="button-search" type="button">Go!</button>
                    </div>
                </div>
            </div>
            <!-- Categories widget-->
            <div class="card mb-4">
                <div class="card-header">Categories</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <ul class="list-unstyled mb-0">
                                @foreach (var blog in Model.Blogs)
                                {
                                <li><a class="badge bg-secondary text-decoration-none link-light" asp-action="BlogPostIndex" asp-route-id="@blog.Id">@blog.Name</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Side widget-->
            <div class="card mb-4">
                <div class="card-header">Side Widget</div>
                <div class="card-body">You can put anything you want inside of these side widgets. They are easy to use, and feature the Bootstrap 5 card component!</div>
            </div>
        </div>
    </div>
</div>

